@model ModelEF.Model.Product

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}

<h2>Detail</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="product-content-right">
        <div class="product-breadcroumb">
            <a href="@Url.Action("Index", "Home/Index")">Home</a>
            <a href="">@Html.DisplayFor(model => model.Category.Name)</a>
            <a href="">@Html.DisplayFor(model => model.Name)</a>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="product-images">
                    <div class="product-main-img" style="height:300px">
                        <img src="@Html.DisplayFor(model => model.Image)" alt="">
                    </div>

                    <div class="product-gallery">
                        <img src="https://cdn.fptshop.com.vn/Uploads/Originals/2021/2/3/637479612642653058_ip-12-pro-dd-2nam.jpg" alt="">                   
                        <img src="~/Assets/Client/img/product-thumb-2.jpg" alt="">
                        <img src="~/Assets/Client/img/product-thumb-3.jpg" alt="">                        
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="product-inner">
                    <h2 class="product-name">@Html.DisplayFor(model => model.Name)</h2>
                    <div class="product-inner-price">

                        <ins>@String.Format("{0:#,##0₫}", Model.UniCost)</ins> <span>Quantity: @Html.DisplayFor(model => model.Quantity)</span>
                    </div>

                    <form action="" class="cart">
                        <div class="quantity">
                            <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                        </div>
                        <button class="add_to_cart_button" type="submit">Add to cart</button>
                    </form>

                    <div class="product-inner-category">
                        <p>Category: <a href="">@Html.DisplayFor(model => model.Category.Name)</a>. Tags: <a href="">awesome</a>, <a href="">best</a>, <a href="">sale</a>, <a href="">shoes</a>. </p>
                    </div>

                    <div role="tabpanel">
                        <ul class="product-tab" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reviews</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                <h2>Product Description</h2>
                                <p>@Html.DisplayFor(model => model.Description)</p>                                                             
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="profile">
                                <h2>Reviews</h2>
                                <div class="submit-review">
                                    <p><label for="name">Name</label> <input name="name" id="name" type="text"></p>
                                    <p><label for="email">Email</label> <input name="email" id="email" type="email"></p>
                                    <div class="rating-chooser">
                                        <p>Your rating</p>

                                        <div class="rating-wrap-post">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <p><label for="review">Your review</label> <textarea name="review" id="review" cols="30" rows="10"></textarea></p>
                                    <p><input type="submit" value="Submit"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

}




