
@model ModelEF.Model.UserAccount
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit User</h2>
@using (Html.BeginForm("Edit", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationMessage("ThongBaoLoi")
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Please enter full information
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form role="form">
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <label>Name</label>
                                        @Html.EditorFor(model => model.UserName, new {
                                        htmlAttributes = new { @class = "form-control" } })

                                        @Html.ValidationMessageFor(model => model.UserName,
                                        "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <label>Status</label>
                                        @Html.EditorFor(model => model.Password, new {
                                        htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Password,
                                        "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <label>Status</label>
                                        @Html.EditorFor(model => model.Status, new {
                                        htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Status,
                                        "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </form>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" style="margin-top:30px" onclick="return confirm('Are u sure to update this user?')" value="Update" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div>
    <a href="@Url.Action("Index", "User")" class="btn btn-primary">Back to list</a>
</div>

